body {
	color: rgb(32,32,32);
	background-color: rgb(200,200,200);

}

h1 {
	color: rgb(32,32,32);
}

#ux-design {
	background-color: rgb(244, 208, 63);
	width: auto;
	height: 200px;
}

#ui-design {
	background-color: rgb(245, 176, 65);
	width: auto;
	height: 200px;
}

#front-end {
	background-color: rgb(236, 112, 99);
	width: auto;
	height: 200px;
}

#back-end {
	background-color: rgb(100, 149, 237);
	width: auto;
	height: 200px;
}

footer {
	background-color: rgb(39, 55, 70);
	width: auto;
	height: 400px;
}